<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Recruitment website">
    <meta name="author" content="Rehman">
    <link rel="icon" href="{% static 'main_style/assets/images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main_style/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'main_style/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'main_style/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main_style/assets/css/owl.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'form_style/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form_style/fonts/iconic/css/material-design-iconic-font.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'form_style/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'form_style/css/main.css' %}">
    {%  if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Provide Title !</title>
    {% endif %}
</head>
<body>
<!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
<!-- ***** Preloader End ***** -->

<div>
    {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endif %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endif %}

        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'main_style/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main_style/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main_style/vendor/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'main_style/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Additional Scripts -->
    <script src="{% static 'main_style/assets/js/custom.js' %}"></script>
    <script src="{% static 'main_style/assets/js/owl.js' %}"></script>
    <script src="{% static 'form_style/js/main.js' %}"></script>
    <!--<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->


</body>
</html>