{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'navigation.html' %}
    {% if current_user.is_authenticated and role == 'HR' %}
        <div class="page-heading contact-heading header-text mb-4" style="background-image: linear-gradient(to bottom right, red, black);">
            <h1 class="container text-light">Dashboard</h1>
        </div>

        <div class="container">
            <div class="p-3">
              <h2 style="border-bottom:1px solid black; text-align:center;padding:5px;">{{ job_title }}</h2>
            </div>
        </div>

        <table class="table mt-4 ml-2">
            <thead>
                <tr>
                    <th scope="col" style="text-align:center;">Name</th>
                    <th scope="col" style="text-align:center;">Email</th>
                    <th scope="col" style="text-align:center;">CV</th>
                    <th scope="col" style="text-align:center;">Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for cwa in cwa %}
                {% if cwa.role == job_title %}
                <tr>
                    <td scope="row">{{ cwa.full_name }}...</td>
                    <td scope="row"><a href="{% url 'candidate' cwa.id %}">{{ cwa.email }}</a></td>
                    <td scope="row"><a href="{% get_media_prefix %}{{ cwa.cv }}" class="btn bg-dark text-light">CV</a></td>
                    <td class="row d-flex">
                        <form method="post">
                            {% csrf_token %}
                            <button class="btn bg-success text-light" type="submit" value="{{ cwa.id }}" name="accept">accept</button>
                            <button class="btn bg-danger text-light ml-2" type="submit" value="{{ cwa.id }}" name="reject">reject</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}
