{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'navigation.html' %}
    {% if current_user.is_authenticated and role == 'HR' %}
        <div class="page-heading contact-heading header-text mb-4" style="background-image: linear-gradient(to bottom right, red, black);">
            <h1 class="container text-light">Dashboard</h1>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">CV</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for cwa in cwa %}
                <tr>
                    <td scope="row">{{ cwa.full_name }}</td>
                    <td><a href="{% url 'candidate' %}">{{ cwa.email }}</a></td>
                    <td>{{ cwa.role }}</td>
                    <td><a href="{% get_media_prefix %}{{ cwa.cv }}" class="btn bg-dark text-light">CV</a></td>
                    <td class="d-flex">
                        <form method="post">
                            {% csrf_token %}
                            <button class="btn bg-success text-light" type="submit" value="{{ cwa.id }}" name="accept">accept</button>
                            <button class="btn bg-danger text-light ml-2" type="submit" value="{{ cwa.id }}" name="reject">reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}
