{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'navigation.html' %}
    {% if current_user.is_authenticated %}
    <!-- Page Content -->
    <div class="page-heading contact-heading header-text mb-4" style="background-image: url({% static 'main_style/assets/images/bg_1.jpg' %});">
      <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <img class="rounded-circle border-light" src="{{ profile_image }}" width="100px" height="100px">
            </div>
          <div class="col-md-12">
            <div class="text-content">
              <h4>Hello I'm</h4>
                <h2>{{ current_user.first_name }} {{ current_user.last_name }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About me</h2>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quae eveniet tempora reprehenderit quo, necessitatibus vel sit laboriosam, sunt obcaecati quisquam explicabo voluptatibus earum facilis quidem fuga maiores. Quasi, obcaecati? <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, est officiis. Ipsam quas consequuntur adipisci quis, fuga pariatur eius eveniet qui similique nulla inventore accusantium, suscipit asperiores quibusdam culpa iure!</p>
          </div>
        </div>
      </div>
        {% if role == 'HR' and current_user == request.user %}
        <a class="btn btn-danger d-block" href="{% url 'hr_profile' %}" style="padding:10px; width:100px; margin-top:150px; margin-left:auto; margin-right:auto;">
            Edit Profile
        </a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
